@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the package CSS */
@import "advanced-date-range-picker/dist/advanced-date-range-picker.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rdp-day_selected:not(.rdp-range_start):not(.rdp-range_end),
.rdp-day_selected {
  background: #cedbf5 !important;
  color: #1f1f1f;
}

.rdp-range_middle {
  /* background-color: #cedbf5; */
}

.rdp-range_start:not(.rdp-range_end) {
  border-radius: 15px 0px 0px 15px;
}
.rdp-range_end:not(.rdp-range_start) {
  border-radius: 0px 15px 15px 0px;
}

.rdp-range_start .rdp-day_button,
.rdp-range_end .rdp-day_button {
  background-color: #cedbf5 !important;
  color: #1f1f1f !important;
}

.rdp-range_end .rdp-day_button {
  border-radius: 0px 10px 10px 0px;
}

.rdp-range_start .rdp-day_button {
  border-radius: 10px 0px 0px 10px;
}

/* Range start - curved on left, small line on left */
.rdp-day_selected.rdp-range_start:not(.rdp-range_end) {
  background: #dbeafe;
}

.rdp-day_selected.rdp-range_start:not(.rdp-range_end) .rdp-day_button {
  background: #2563eb;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 8px 4px 4px 8px;
  border-left: 4px solid #1e40af;
  padding-left: 0;
}

/* Range end - curved on right, small line on right */
.rdp-day_selected.rdp-range_end:not(.rdp-range_start) {
  background: #dbeafe;
}

.rdp-day_selected.rdp-range_end:not(.rdp-range_start) .rdp-day_button {
  background: #2563eb;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 4px 8px 8px 4px;
  border-right: 4px solid #1e40af;
  padding-right: 0;
}

/* Range middle days */
.rdp-day_selected.rdp-range_middle {
  background: #dbeafe;
}

.rdp-day_selected.rdp-range_middle .rdp-day_button {
  background: transparent;
  color: #1f1f1f;
  width: 100%;
  height: 100%;
}
