@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the package CSS */
@import "advanced-date-range-picker/dist/advanced-date-range-picker.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rdp-day_selected {
  background-color: #cedbf5;
  color: #1f1f1f;
}
.rdp-range_middle {
  background-color: #cedbf5;
}
.rdp-range_start .rdp-day_button {
  background-color: #cedbf5;
  color: #1f1f1f;
  border-radius: 10px;
}
.rdp-range_end .rdp-day_button {
  background-color: #cedbf5;
  color: #1f1f1f;
  border-radius: 10px;
}
